flow.json
[{"id":"9de7b81c.61f208","type":"tab","label":"CityGML API","disabled":false,"info":""},{"id":"b6673668.1d0088","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"CityGML","ssl":false},{"id":"3a128623.ea28da","type":"postgres","z":"9de7b81c.61f208","postgresdb":"b6673668.1d0088","name":"","output":true,"perrow":true,"outputs":1,"x":440,"y":200,"wires":[["eda31272.d6b28","b4fb4557.5d8158"]]},{"id":"eed3d4c5.5d7188","type":"inject","z":"9de7b81c.61f208","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["346d9795.ffc7d8"]]},{"id":"eda31272.d6b28","type":"debug","z":"9de7b81c.61f208","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":240,"wires":[]},{"id":"1354e021.34f94","type":"template","z":"9de7b81c.61f208","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select * FROM address WHERE id = $param1","x":370,"y":140,"wires":[["3a128623.ea28da"]]},{"id":"346d9795.ffc7d8","type":"function","z":"9de7b81c.61f208","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 157;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["1354e021.34f94"]]},{"id":"2edd9d78.ef54a2","type":"http in","z":"9de7b81c.61f208","name":"","url":"address","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["346d9795.ffc7d8"]]},{"id":"d46552da.01a92","type":"http response","z":"9de7b81c.61f208","name":"","statusCode":"","headers":{},"x":650,"y":280,"wires":[]},{"id":"b4fb4557.5d8158","type":"function","z":"9de7b81c.61f208","name":"format payload","func":"id = msg.payload.id;\ngmlid = msg.payload.gmlid;\nstreet = msg.payload.street;\nhouse_number = msg.payload.house_number;\npost_code = msg.payload.zip_code;\ncity = msg.payload.city;\nstate = msg.payload.state;\ncountry = msg.payload.country;\n\nmsg.payload = {id, gmlid, street, house_number, post_code, city, state, country}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["eda31272.d6b28","d46552da.01a92"]]},{"id":"ca0c9a82.ac2238","type":"http in","z":"9de7b81c.61f208","name":"","url":"full_address_database","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["e03757ea.d95e18"]]},{"id":"e03757ea.d95e18","type":"template","z":"9de7b81c.61f208","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select * FROM address","x":250,"y":280,"wires":[["19743907.821d37"]]},{"id":"19743907.821d37","type":"postgres","z":"9de7b81c.61f208","postgresdb":"b6673668.1d0088","name":"","output":true,"perrow":false,"outputs":1,"x":300,"y":340,"wires":[["d46552da.01a92"]]}]