flow.json
[{"id":"9de7b81c.61f208","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b6673668.1d0088","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"CityGML","ssl":false},{"id":"3a128623.ea28da","type":"postgres","z":"9de7b81c.61f208","postgresdb":"b6673668.1d0088","name":"","output":true,"perrow":true,"outputs":1,"x":440,"y":200,"wires":[["eda31272.d6b28"]]},{"id":"eed3d4c5.5d7188","type":"inject","z":"9de7b81c.61f208","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["346d9795.ffc7d8"]]},{"id":"eda31272.d6b28","type":"debug","z":"9de7b81c.61f208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":200,"wires":[]},{"id":"1354e021.34f94","type":"template","z":"9de7b81c.61f208","name":"format query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Select * FROM address WHERE id = $param1","x":370,"y":140,"wires":[["3a128623.ea28da"]]},{"id":"346d9795.ffc7d8","type":"function","z":"9de7b81c.61f208","name":"setup params","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.param1 = 157;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["1354e021.34f94"]]}]